# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [6]:
df.sort_values(by="Unit price", ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [10]:
df[df["Product line"] == "Electronic accessories"].sort_values(by=["Quantity", "Unit price"], ascending=False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 (включно) до 8 (не включно) - то він середній (`Medium`)
- інакше - низький (`Low`).

In [18]:
df["Rating Category"] = [
    "Hig" if r >= 8
    else "Medium" if r >= 6
    else "Low"
    for r in df["Rating"]
]

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [21]:
df["Rating Category"].value_counts(normalize=True) * 100

Rating Category
Medium    35.6
Hig       32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [22]:
time = '11:28'

In [30]:
def get_hour(time):
    return int(time.split(":")[0])

In [31]:
get_hour(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [37]:
df["Hour"] = df["Time"].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [41]:
df["Hour"].value_counts().sort_values(ascending=False)

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

Найбільше покупок здійснюють покупці о 19, 13, 15 і 10 годинах, що є логічним, тому що після роботи (о 19), в обідній час (13, 15) і перед роботою (10) більшість людей відвідує супермаркет, так як має вільний час.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [45]:
df.groupby("City")["Total"].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [50]:
df.groupby("City")["Total"].agg(
    purchases="count",
    avg_total="mean",
    min_total="min",
    max_total="max"
).round(2)

           purchases  avg_total  min_total  max_total
City
Mandalay         332     319.87      18.64    1022.49
Naypyitaw        328     337.10      10.68    1042.65
Yangon           340     312.35      12.69    1039.29

Найбільша кількість покупок у Yangon, що може свідчити про більший потік клієнтів. Найвищий середній чек у Naypyitaw, тобто клієнти там купують або більше товарів, або товари дорожчі. Yangon наряду з найбільшою кількістю покупок має найнижчий середній чек, ймовірно, що там багато "дрібних" покупок. У Mandalay найвищий мінімальний чек, що може означати, що люди рідше купують один дешевий товар. У всіх містах максимальні чеки схожі, що свідчить, що великі покупки трапляються у всіх містах, але найчастіше у Naypyitaw (максимальний чек найбільший).

Рекомендації:
Yangon: запустити акцію "купи 2 товара - отримуй знижку", стимулювати крос-продажі; Naypyitaw: провести маркетингові і рекламні кампанії, розширити години пікових продажів; Mandalay: має стабільну модель продажів (баланс між кількістю та середнім чеком), тому можна спробувати додати різні акції для залучення більшої кількості клієнтів та збільшення покупок.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [56]:
df.to_csv("../data/supermarket_sales_enriched.csv", index=False)